.tearoom-main {
  display: flex;
  min-height: 100vh;
}

.custom-figure {
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.custom-title {
  font-size: 30px;
  font-family: "Parisienne", cursive;
}

.custom-notification {
  &--fixed {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 20;
    width: fit-content;
  }
}

.custom-navbar-burger {
  position: relative;
  pointer-events: all;
}

.custom-modal-content {
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;
}

.button.is-active,
.button:active,
.button.is-focused,
.button:focus-visible {
  border-color: unset;
  box-shadow: 0 0 5px #fff;
}

.input,
.control {
  --bulma-input-icon-hover-color: #fff;
  --bulma-input-icon-focus-color: #fff;
}
