.home {
  &__main {
    flex-direction: column;
  }

  &__hero-section {
    min-height: 100vh;
  }
}

.home-hero__speech-section {
  padding: 10px;
}

#home-hero-figure {
  height: 40vh;
}

#home-hero-signatures {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-inline: 10px;

  .card {
    width: 300px;
    height: 600px;

    margin: 10px;
  }
}
