.login {
  &__main {
    align-items: center;
    justify-content: center;
  }

 

  &__form {
    & > section:first-of-type {
      margin-block: 20px;

      
    }

    & > section:nth-child(2){
      margin-block: 20px;
    }


    & > section:nth-child(3){
      height: 30px;
      display: flex;
      margin-block: 10px;
      align-self: center;
      color: #ffffff;
    }

    & > section:last-of-type {
      display: flex;
      justify-content: space-between;
    }
  }
}
